.container {
	display: flex;
	flex-direction: column;
  }
  
  .img {
	object-fit: cover;
	border: 1px solid teal;
  }
  
  .info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 4px 10px;
	height: 120px;
	background-color: rgb(208, 228, 240);
	border: 1px solid teal;
	margin-top:  2px;
  }
  
  .title {
	margin-bottom: 15px;
	max-height: 80px;
	overflow-y: auto;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.34;
	letter-spacing: 0.04em;
	color: #040746;
  }
  
  .wrapper {
	display: flex;
	justify-content: space-between;
	background-color: #0073ff10;
	border: 1px dashed rgb(83, 51, 158);
	padding:0 6px;
  }
  .text {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 0.04em;
	color:rgb(77, 23, 128);
  }